<ion-content class="ion-padding">

  <!-- Encabezado -->
  <div class="encabezado container mt-3">
    <div class="row align-items-center">
      <div class="col-auto d-flex align-items-center">
        <img src="../../assets/images/portapapeles.png" alt="icono" width="45" height="45" class="me-2">
        <h1 class="titulo-texto">Gestor de Tareas</h1>
      </div>
    </div>
  </div>

  <!-- Botón +Nueva Tarea -->
  <div class="contenedor-boton container text-end mt-3 mb-4">
    <button class="btn-nueva-tarea" routerLink="/tarea">
      + Nueva Tarea
    </button>
  </div>

  <!-- Si no hay tareas -->
  <div *ngIf="tareas.length === 0" class="sin-tareas text-center mt-5">
    <p>No hay tareas guardadas todavía</p>
  </div>

  <!-- Si hay tareas -->
  <div *ngIf="tareas.length > 0" class="container lista-tareas">

    <div *ngFor="let tarea of tareas" class="tarea-card p-3 mb-3 border rounded">
      <div class="d-flex justify-content-between align-items-center">

        <!-- Info principal -->
        <div>
          <h2 class="fw-bold">{{ tarea.titulo }}</h2>
          <p><strong>Fecha de Vencimiento:</strong> {{ tarea.fecha | date:'dd/MM/yyyy' }}</p>
           <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
        </div>

        <!-- Acciones -->
        <div class="acciones d-flex align-items-center">
          <a [routerLink]="['/tarea-detalles', tarea.id]" class="ver-detalles fw-bold me-3"
            style="color: #8c52ff; cursor: pointer; text-decoration: none;">
            Ver detalles >
          </a>

          <ion-icon name="create-outline" class="icono-editar me-2" (click)="editarTarea(tarea)">
          </ion-icon>

          <ion-icon name="trash-outline" class="icono-eliminar" (click)="eliminarTarea(tarea)">
          </ion-icon>
        </div>
      </div>
    </div>
  </div>

</ion-content>
